Click==7.0
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
Flask-GFM==0.1.1
Jinja2==2.11.3
SQLAlchemy==1.3.16
Werkzeug==2.2.3
cloudinary==1.20.0
flake8==3.8.4
gunicorn==20.0.4
itsdangerous==1.1
mccabe==0.6.1
pep8==1.7.1
psycopg2==2.8.6
py==1.10.0
pytest==6.2.1
