{% if request.is_xhr == False %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ topic.name }}</title>
    <script src="{{ url_for('static', filename='bundles/bundle.js') }}"></script>
    <style>
      @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
      @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
      * { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif; }
      {% if 'CSS'|env %}
        @import url({{ 'CSS'|env }});
      {% endif %}
    </style>
  </head>
  <body style="padding-top:60px;">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('index') }}">Wiki</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-right" action="/" method="GET" role="search">
            <div class="form-group">
              <input type="text" name="name" value="{{ topic.name }}" class="form-control" placeholder="Search" />
            </div>
            <button type="submit" class="btn btn-default">Go</button>
          </form>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h1>{{ topic.name }} <small>
            <div class="pull-right">
              {% block submenu %}
              <a class="btn btn-default" href="{{ url_for('edit', name=topic.name) }}">Modify</a>
              <a class="btn btn-default" href="{{ url_for('backlinks', name=topic.name) }}">Backlinks</a>
              <a class="btn btn-default" href="{{ url_for('presentation', name=topic.name) }}">Presentation</a>
              {% endblock %}
            </div>
            </small></h1>
          </div>
          {% endif %}
              {% block body %}
              {{ topic.body|default('', true)|parse_link|safe|markdown }}
              {% endblock %}
          {% if request.is_xhr == False %}
        </div>
      </div>
    </div>
  </body>
  </html>
{% endif %}
