{% extends 'base.html' %}
{% block nav %}{% endblock %}
{% block body %}
<form action="{{ url_for('topic', topic=topic) }}" method="POST">
<fieldset>
<div class="form-group">
    <label for="textarea-content">Contents</label>
    <textarea name="body" class="form-control" id="textarea-content" rows="10">{{ topic.body|default('', true) }}</textarea>
</div>
<div class="actions">
    <input type="submit" class="btn btn-primary btn-lg" value="Edit" />
    <a href="{{ url_for('topic', topic=topic) }}" class="btn btn-lg">Return to topic</a>
</div>
</fieldset>
</form>
{% endblock %}
{% block submenu %}
<a class="btn btn-default" href="{{ url_for('topic', topic=topic) }}">Back</a>
{% endblock %}
