<!DOCTYPE html>
<html>
  <head>
    <title>{{ topic.name }}</title>
    <meta charset="utf-8">
    <style>
      @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
      @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
      * { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif !important; }
    </style>
  </head>
  <body>
    <textarea id="source">
{{ topic.body|default('', true)|parse_link|safe }}
    </textarea>
    <script src="https://remarkjs.com/downloads/remark-latest.min.js"></script>
    <script>
      var slideshow = remark.create();
    </script>
  </body>
</html>
